.login {
  display: grid;
  height: 100%;
  place-content: center;

  .form {
    width: 300px;
    display: grid;
    gap: var(--md);
  }

  .wrapper_register {
    padding-top: var(--lg);

    a {
      color: var(--pri);
    }
  }
}
