:root {
  /* Dark mode */
  --bg-pri: #0f0f0f; /* Fondo Principal */
  --bg-surf: #242424; /* Superficie */
  --pri: #ff6f61; /* Primario */
  --sec: #ffd166; /* Secundario */
  --t-main: #ffffff; /* Texto Principal */
  --t-sec: #b0bec5; /* Texto Secundario */
  --hl: #ffb74d; /* Resaltado */
  --border: #383838; /* Borde */
  --accent: #f06292; /* Acento */
  --hover: #ff8a75; /* Hover */

  /* Light mode */
  --l-bg-pri: #ffffff; /* Fondo Principal */
  --l-bg-surf: #f0f0f0; /* Superficie */
  --l-pri: #ff6f61; /* Primario */
  --l-sec: #ffd166; /* Secundario */
  --l-t-pri: #212121; /* Texto Principal */
  --l-t-sec: #757575; /* Texto Secundario */
  --l-hl: #ffb74d; /* Resaltado */
  --l-border: #e0e0e0; /* Borde */
  --l-accent: #ec407a; /* Acento */
  --l-hover: #ff8a75; /* Hover */

  /* Common */
  --blue: #0066cc;
  --red: #cd231d;
  --green: #8c9900;
}

/*
	Razones para esta Paleta:
	Tonos Neutrales y Modernos: Colores como azul neutro, verde azulado, y grises proporcionan un aspecto profesional, moderno y accesible para cualquier tipo de público.

	Contraste Adecuado: Los colores seleccionados aseguran que haya suficiente contraste entre los fondos y los textos, mejorando la legibilidad sin ser agresivos para la vista.

	Toques de Color Sobrios: Los colores de acento, como el rojo apagado y el dorado, proporcionan puntos de interés visual sin ser demasiado llamativos, manteniendo un equilibrio entre lo atractivo y lo sutil.

	Cohesión entre Modos: Al mantener una coherencia en los tonos de resaltado y acento entre los modos oscuro y claro, se asegura una experiencia de usuario fluida y atractiva en cualquier entorno.

	Esta paleta debería ser más adecuada para una audiencia que busca un diseño más neutro y equilibrado.
*/
