.contacts {
  display: grid;
  place-content: center;
  height: 100%;

  .container {
    position: relative;
    display: grid;
    width: 365px;
    .form {
      padding: var(--md);
    }

    .containerPagedAndAdd {
      display: flex;
      align-items: center;
      padding: var(--md);

      .add {
        width: 48px;
        height: 48px;
        cursor: pointer;
        transition: transform 0.2s ease;

        &:hover {
          transform: scale(1.03);
          color: var(--green);
        }
      }

      .paged {
        margin-left: auto;
      }
    }
  }
}

@media (max-width: 380px) {
  .contacts {
    .container {
      width: 310px;
    }
  }
}
