.contacts {
  display: grid;
  place-content: center;
  height: 100%;

  .container {
    display: grid;
    width: 365px;
    .form {
      padding: var(--md);
    }

    .paged {
      justify-self: end;
    }
  }
}
