.contact {
  padding: var(--md);
  display: grid;
  grid-template-columns: auto 1fr 2fr 28px 28px;
  align-items: center;

  .name {
    font-weight: bold;
    text-transform: capitalize;
  }

  .name,
  .tell {
    padding: var(--sm);
    white-space: nowrap; /* Evita que el texto haga varias líneas */
    overflow: hidden; /* Oculta el texto que se desborda */
    text-overflow: ellipsis; /* Muestra los "..." cuando el texto se corta */
  }

  .img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
  }

  .delete {
    color: var(--red);
  }

  .edit {
    color: var(--gray);
  }

  .edit,
  .delete {
    cursor: pointer;
    justify-self: center;
  }
}
