.form {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto auto;
  padding: var(--md);
  gap: var(--sm);
  min-height: 64px;

  .msg {
    line-height: 20px;
    .name {
      text-transform: capitalize;
    }
  }

  .delete {
    background-color: var(--red);
    min-width: 82px;
    &:disabled {
      background-color: transparent;
    }
  }

  .noDelete {
    background-color: var(--green);
  }
}
